/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
*{
    /* font-family: 'Roboto', sans-serif; */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#main_box{
    min-height: 100vh;
    max-height: auto;
    width: 100%;
    background: url('../images/main_bg_banner.jpg');
    /* position: fixed; */
    background-size: cover;
    background-attachment:fixed ;

}

.nav_logo img{
    height: 90px;
    width: 100px;
}
.custom_nav .navbar-nav a{
    color: #fff;
    font-weight: 400;
}

.custom_nav .navbar-nav a.active{
    color: #fff;
}
.custom_links{
    gap: 20px;
}
.left_side_content_wrapper {
    display: flex;
    flex-direction: column;
}

.left_side_caption{
    text-transform: uppercase;
    color: #fff;
}
.left_side_heading{
    color: #fff;
    font-size: 4rem;
}
.left_side_content{
    color: #fff;
    font-size: 14px;
    padding-right: 3rem;
    /* line-height: 1px; */
}
.contact_us_card{
    border-radius: 20px;
}
.contact_form_wrapper .input_box{
    border: none;
    border-bottom: 1px solid #dee2e6;
    border-radius: 0px;
    margin-bottom: 1rem;
}
.contact_label{
    color: #fff;
    font-weight: 500;
}

.contact_form_wrapper .input_box.active{
    border: none !important;
    outline: none !important;
    box-shadow: none;
    border-bottom: 1px solid #dee2e6;
}

.contact_form_wrapper .input_box:focus{
    /* border: none !important; */
    outline: none !important;
    box-shadow: none;
    border-bottom: 1px solid #dee2e6;
}
.contact_form_wrapper .input_box:focus-visible{
    /* border: none !important; */
    outline: none !important;
    box-shadow: none;
    border-bottom: 1px solid #dee2e6;
}

.send_msg{
	position: relative;
	z-index: 1;
	overflow: hidden;
    margin: 20px 0px;
    border-radius: 25px;
    background-color: #011f2a;
    height: 50px;
    width: 100%;
    color: #fff;
}
.send_msg::before{
	position:absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #1b82cc;
	transform: translateX(-100%);
	transition: all 0.3s ease-in-out;
    color: #fff;
}
.send_msg:hover::before{
	transform: translateX(0);
	
	z-index: -1;
    
}
.send_msg:hover{
	/* color: ; */
	font-weight: bolder;
    color: #fff;
}

.about_caption{
    /* font-weight: 600; */
    font-size: 14px;
    letter-spacing: 1px;
}
.about_title{
    font-weight: bold;
    font-size: 2.3rem;
    margin-bottom: 2rem;
}
.about_content{
    color: rgb(33 36 41 / 75%)!important;
    letter-spacing: 1px;
    font-size: 14px;
}
.packages_caption{
    margin-bottom: 0px;
    font-size: 14px;
}
.packages_heading{
    font-weight: bold;
    padding-bottom: 20px;
    margin-top: 0px;
    padding-top: 0px;
}
.packages_card{
    border: none;
}
.packages_card img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.package_img_box{
    position: relative;
}
.package_icon_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 40px;
    width: 160px;
    border-top-right-radius: 10px;
    position: absolute;
    bottom: 21%;
}
.package_icon_wrapper img{
    width: 35px;
}

.package_amount{
    padding: 10px 15px;
    height: 40px;
    position: absolute;
    top: 7%;
    right: 0;
    background-color: #fff; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.packages_card .card-footer{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
}
.packages_card .card-footer a{
    font-size: 16px;
    color: #208fc3;
    font-weight: bold;
    text-decoration: none;
    padding: 15px 10px;
    
}
.tour_days_place{
    display: flex;
    flex-direction: column;
}
.tour_days{
    font-size: 14px;
}
.tour_place{
    font-size: 18px;
    font-weight: bold;
}


.check_our_packages_sec{
    background-image: url('https://grow.trippybabatours.com/img/Shortbanner.png');
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
    margin: 3.4rem 0rem;
}
.check_packages_content_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    color: #fff;
    flex-direction: column;
}

.check_pack_content{
    opacity: 0.6;
    margin: 10px 0px;
}
.feedback_section{
    background-image: url('https://grow.trippybabatours.com/img/pattern.png');
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 400px; */
    width: 100%;
    /* margin: 3.4rem 0rem; */
}
.feedback_images_banner img{
    width: 100%;
}
.slider_Container{
    padding: 20px 40px;
    margin-left: 40px;
}

/* swipper js code slider  */
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-pagination-bullet {
    width: 20px !important;
    height: 20px !important;
    text-align: center !important;
    line-height: 20px !important;
    font-size: 12px !important;
    color: #000 !important;
    opacity: 1 !important;
    background: rgba(0, 0, 0, 0.2) !important;
  }

  .swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
  }
  .each_people{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
/* end of swiper slide css code */
/* media query  */

@media only screen and (max-width: 600px) {
    #main_box {
      height: max-content;
    }
    .left_side_caption{
        text-align: center;
    }
    .left_side_heading{
        font-size: 2.5rem;
        text-align: center;
    }
    .left_side_content{
        display: none;
    }
    .left_side_content_wrapper {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    /* Add more styles for smaller screens here */
  }